<nav id="menu">
    <div class="inner">
        <h2>Меню</h2>
        <ul class="links">
            <li><a href="{{ '/' | prepend: site.baseurl }}">Главная</a></li>
            <li><a href="{{ '/about.html' | prepend: site.baseurl }}">О нас</a></li>
            <li><a href="{{ '/price.html' | prepend: site.baseurl }}">Цены / Прайсы</a></li>
            <li><a href="{{ '/care.html' | prepend: site.baseurl }}">Облагораживание территории</a></li>
        </ul>
        <a href="#" class="close">Закрыть</a>
    </div>
</nav>